<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/carritoNormalize.css">
    <link rel="stylesheet" href="/css/carritoStyles.css">

</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class="carritoContenedor03">
            <div class="carrito-tu-pack">

                <button class="carrito-pack">Este es tu pack
                    <span class="icon"><img width="25" height="25" src='/img/hecho-garrapata.png'
                            alt='Imagen de tilde'></img></span>
                </button>
                <img src="/img/camiones/<%=packBuscado.imagen%>" alt="Camion Mudanza 1" class="imagenCamion">
                <h3>PACK Nro. <%=packBuscado.numeroPack%>
                </h3>
                <span><b>Precio: $ <%=packBuscado.precio%></b></span> <br>
                <span>Radio: <%=packBuscado.radio%> km </span> <br>
                <span> Para: <%=packBuscado.superficie%> Mts2 </span> <br>
            </div>
            <div class="carrito-servicios">
                <h4 class="carrito-serad">Servicios Adicionales</h4>
                <ul type=none>

                    <li><input type="checkbox" class="traslado"><label class="carrito-tipo"> Traslado en Día Feriado
                        </label> <br> </li>
                    <li><input type="checkbox" class="asistente"><label class="carrito-tipo asistente"> Asistente
                            Adicional
                        </label>
                    </li>
                    <li><input type="checkbox" class="embalaje"><label class="carrito-tipo embalaje"> Servicio de
                            Embalaje </label>
                    </li>
                    <li><input type="checkbox" class="cajas"><label class="carrito-tipo cajas"> Variedad en
                            Cajas</label></li>
                    <li><input type="checkbox" class="cintas"><label class="carrito-tipo cintas"> Cintas adhesivas
                        </label></li>
                    <li><input type="checkbox" class="espuma"><label class="carrito-tipo espuma"> Goma espuma
                        </label></li>
                    <li><input type="checkbox" class="depoT"><label class="carrito-tipo depositoTemp"> Depósito
                            Temporal </label>
                    </li>
                    <li><input type="checkbox" class="depoP"><label class="carrito-tipo depositoPerm"> Depósito
                            Permantente
                        </label></li>

                </ul>
            </div>
            <div class="carrito-botones">
                <br>
                <br>
                <div class="costo">
                    <h3>Precio sin Servicios adicionales: <%=packBuscado.precio%>
                    </h3>

                </div>
                <!-- BOTON CON IF -->
                <% if (locals.isLogged) { %>
                <button class="carrito-ok pack buttonValidar"> <a href="/products/carritoConfirm/<%=packBuscado.id%>">
                        OK
                        quiero PACK
                        <span class="icon"><img width="25" height="25" src="/img/hecho-garrapata.png"
                                alt='Imagen de tilde'></img></span></a>
                </button>
                <% } else { %>
                <br>
                <h5>Por favor <a href="/users/login">Iniciar Sesion</a> para poder continuar en su carrito
                    de compras</h5>
                <% } %>
                <button class="carrito-volver">
                    <a href="/products/producto">
                        VOLVER
                        <span class="icon"><img width="25" height="25" src='/img/arriba.png'
                                alt='Imagen de flecha hacia arriba'></img></span></a>
                </button>
            </div>
        </div>
    </main>

    <%- include('../partials/footer') %>
    <script src="/scripts/js_CarritoValues.js"></script>
</body>

</html>